@model QuotationDisplayModel
@inject ICofoundryBlockTypeHelper<QuotationDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("Quotation with optional citation and title");
}

@if (Model != null)
{
    if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }
    <blockquote @(string.IsNullOrEmpty(Model.CitationUrl) ? string.Empty : string.Format("cite=\"{0}\"", Model.CitationUrl))>
        <p>
            @Html.Raw(Model.Quotation)
        </p>
    </blockquote>

    if (!string.IsNullOrEmpty(Model.CitationText))
    {
        <cite>
            @if (!string.IsNullOrEmpty(Model.CitationUrl))
            {
                <a href="@Model.CitationUrl">@Cofoundry.Sanitizer.Sanitize(Model.CitationText)</a>
            }
            else
            {
                @Cofoundry.Sanitizer.Sanitize(Model.CitationText)
            }
        </cite>
    }
}
