@inject IStaticResourceReferenceRenderer staticResourceReferenceRenderer
@inject IAdminRouteLibrary adminRouteLibrary
@inject ICofoundryHelper Cofoundry
@{
    var appName = await Cofoundry.Settings.GetApplicationNameAsync();
    var title = "Admin";
    if (string.IsNullOrWhiteSpace(appName))
    {
        appName = "Cofoundry";
    }
    if (!string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        title = ViewBag.Title;
    }
    title = title + " | " + appName + " Admin";
}
<!doctype html>
<html class="no-js" lang="en">
<head>

    <title>@title</title>

    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,700" rel="stylesheet">

    @RenderSection("Meta", required: false)

    @staticResourceReferenceRenderer.CssTag(adminRouteLibrary.Shared, "shared")
    @foreach (var tag in staticResourceReferenceRenderer.CssTagsForDirectory(adminRouteLibrary.SharedPlugin))
    {
        @tag
    }
    @staticResourceReferenceRenderer.CssTagIfExists(adminRouteLibrary.SharedAlternate, "override")

    @RenderSection("Styles", required: false)

    <!--[if lt IE 9]>
        @staticResourceReferenceRenderer.ScriptTag(adminRouteLibrary.Shared, "html5shiv")
    <![endif]-->
    @RenderSection("HeaderScripts", required: false)

</head>

<body>

    @RenderBody()

    @RenderSection("FooterScripts", required: false)

</body>
</html>
