@using System.Reflection

@inject ICofoundryHelper Cofoundry

@{
    Layout = LayoutPaths.BaseLayout;
}

@section Meta
{
    @RenderSection("Meta", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section HeaderScripts
{
    @RenderSection("HeaderScripts", required: false)
}

@section FooterScripts
{
    @RenderSection("FooterScripts", required: false)
}

<div id="wrapper">

    <main id="main">

        <div class="content">

            @RenderBody()

        </div>

    </main>
    <footer>
        <p class="copyright">&copy; @DateTime.UtcNow.Year Cofoundry. All Rights Reserved. @Cofoundry.GetType().GetTypeInfo().Assembly.GetName().Version</p>
    </footer>
</div>
