@inherits Cofoundry.Web.CofoundryWebViewPage
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin

@{
    Layout = LayoutPaths.BaseLayout;
}

@section Meta
{
    @RenderSection("Meta", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section HeaderScripts
{
    @RenderSection("HeaderScripts", required: false)
}

@section FooterScripts
{
    @RenderSection("FooterScripts", required: false)
}

<div id="wrapper">

    <main id="main">

        <div class="content">

            @RenderBody()

        </div>

    </main>
    <footer>
        <p class="copyright">&copy; @DateTime.Now.Year Cofoundry. All Rights Reserved. @Cofoundry.GetType().Assembly.GetName().Version</p>
    </footer>
</div>
