@{
    Layout = LayoutPaths.BaseLayout;
}

@section Meta
{
    @RenderSection("Meta", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section HeaderScripts
{
    @RenderSection("HeaderScripts", required: false)
}

@section FooterScripts
{
    @RenderSection("FooterScripts", required: false)
}

<div class="login-container">
    @RenderBody()
</div>