@inherits Cofoundry.Web.CofoundryWebViewPage<Cofoundry.Web.Identity.ChangePasswordViewModel>
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Mvc
@using System.Web.Optimization

@{
    ViewBag.Title = "Change password";
    Layout = AuthRouteLibrary.LoginLayoutPath;
}

@section FooterScripts
{
    @Scripts.Render(AuthRouteLibrary.Js.ChangePassword)
}

<h1>Change Password</h1>

<div class="wrap">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Hidden("ReturnUrl", Request["ReturnUrl"])

        <fieldset>
            <p class="message warning perm">
                You must change your password before accessing the admin area.
            </p>

            <div class="control-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { maxlength = 300 })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { maxlength = 300 })
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>

        </fieldset>
    }
</div>

<footer class="login-footer">

</footer>