@inherits Cofoundry.Web.CofoundryWebViewPage<Cofoundry.Web.Identity.ForgotPasswordViewModel>
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Mvc
@using System.Web.Optimization

@{
    ViewBag.Title = "Forgotten password";
    Layout = AuthRouteLibrary.LoginLayoutPath;
}

@section FooterScripts
{
    @Scripts.Render(AuthRouteLibrary.Js.ForgotPassword)
}

<h1>Forgotten your password?</h1>

<div class="wrap">
    @if (IsPost && ViewData.ModelState.IsValid)
    {
        using (Html.BeginForm())
        {
            <fieldset>

                <p>Instructions on how to reset your password have been sent to your email address.</p>
                
                <div class="actions">
                    <p id="forgotPasswordLink">
                        <a href="@AuthRouteLibrary.Urls.LoginWithEmail(Model.Username)">Click here to login</a>
                    </p>
                </div>

            </fieldset>
        }
    }
    else
    {
        using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <fieldset>
                <p>Complete the form below to reset your password.</p>
                <div class="control-group">
                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Username, new { maxlength = 128, type = "email" })
                        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block" })
                        @Html.ValidationSummary(true)
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="Reset password" />
                </div>

            </fieldset>
        }
    }
</div>

<footer class="login-footer">
    <p class="login-footer-links">
        <a id="loginLink" class="popup" href="@AuthRouteLibrary.Urls.LoginWithEmail(Model.Username)">&lt; Back to login</a>
    </p>
</footer>