@inherits Cofoundry.Web.CofoundryWebViewPage<Cofoundry.Web.Identity.LoginViewModel>
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Mvc
@using System.Web.Optimization

@{
    ViewBag.Title = "Login";
    Layout = AuthRouteLibrary.LoginLayoutPath;
}

@section FooterScripts
{
    @Scripts.Render(AuthRouteLibrary.Js.Login)
}

<h1>Cofoundry</h1>

<div class="wrap">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
    
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.EmailAddress, new { maxlength = 150, type = "email" })
                    @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
                </div>
            </div>

            <label class="checkbox" for="RememberMe")">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "check" }) Remember me
            </label>

            <div class="actions">
                <input type="submit" class="btn main-cta btn-primary" value="Login" />
            </div>
        </fieldset>
    }
</div>

<footer class="login-footer">
    <p class="login-footer-links">
        <a id="forgotPasswordLink" href="@AuthRouteLibrary.Urls.ForgotPassword()">Forgotten your password?</a>
        <br />
        <a href="/">&lt; Back to @Cofoundry.Settings.GetCompanyName()</a>
    </p>
</footer>