@inherits Cofoundry.Web.CofoundryWebViewPage<Cofoundry.Web.Identity.CompletePasswordResetViewModel>
@using System.Web.Mvc.Html
@using Cofoundry.Web.Admin
@using System.Web.Mvc

@{
    ViewBag.Title = "Reset password";
    Layout = AuthRouteLibrary.LoginLayoutPath;
}

<h1>Reset Password</h1>

<div class="wrap">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Token)
        @Html.HiddenFor(m => m.UserPasswordResetRequestId)

        <fieldset>
            <p class="message warning perm">
                Please enter a new password
            </p>

            @Html.ValidationSummary(true)

            <div class="control-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { maxlength = 300 })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { maxlength = 300 })
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "help-block" })
                </div>
            </div>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Change password" />
            </div>

        </fieldset>
    }
</div>

<footer class="login-footer">

</footer>