@model ContactRequest

@{
    Layout = null;
}

<form method="post" action="/contact/">

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Email", @type = "Email" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Message", rows = "8" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>