@model PagedQueryResult<BlogPostSummary>

@{
    Layout = null;
}

@foreach (var blogPost in Model.Items)
{
    <article class="blog-teaser">
        <div class="blog-teaser__image">
            <a href="@blogPost.FullPath">
                <img src="@Cofoundry.Routing.ImageAsset(blogPost.ThumbnailImageAsset, 400, 300)">
            </a>
        </div>
        <div class="blog-teaser__text">
            <h2>@blogPost.Title</h2>
            <span><span class="glyphicon glyphicon-calendar"></span> @blogPost.PostDate.ToString("dd MMM yyyy")</span>
            <p>@blogPost.ShortDescription</p>
            <a href="@blogPost.FullPath" class="btn btn-default">Read post</a>
        </div>
    </article>
}