@model AdminNewUserWithTemporaryPasswordMailTemplate
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    An account has been created for you on the @Model.ApplicationName admin panel.
</p>
<p>
    Your username is: @Model.User.Username<br />
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Sign in to your account here: <a href="@Model.SignInUrl">@Model.SignInUrl</a>
</p>