@model AdminPasswordResetMailTemplate
@{
    Layout = Model.GetLayoutFilePathForHtmlTemplate();
}
<h2>Hello,</h2>

<p>
    The administrator for the @Model.ApplicationName admin panel
    has reset your password.
</p>
<p>
    Your username is: @Model.Username
    Your temporary password is: @Model.TemporaryPassword
</p>
<p>
    Sign in to your account here: <a href="@Model.LoginUrl">@Model.LoginUrl</a>
</p>